h1 {
  text-align: center;
}

#component-0 {
  max-width: 730px;
  margin: auto;
  padding-top: 1.5rem;
}

#prompt-container {
  gap: 0;
}

#duplicate-button {
  margin: auto;
  color: #fff;
  background: #1565c0;
  border-radius: 100vh;
}
